body {
    padding: 0;
    margin: 0;
    background: #b9d7ea;
}
/*NAVBAR*/
.navbar {
    background: #769fcd;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

    .nav-link:hover {
        color: #000;
    }

.navbar-collapse {
    justify-content: flex-end;
}

/*CONTENT CONTAINER*/
.header {
    position: relative;
}

h3 {
    padding-top: 20px;
    color: white;
    margin-left: 440px;
}

table {
    border-color: white;
    border-width: thick;
    margin-left: 360px;
}
